<div class="row">
  <div class="left col-6" data-hook="admin_inside_taxonomy_form" class="field">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required' %><br />
      <%= text_field :taxonomy, :name, class: 'fullwidth title' %>
      <%= error_message_on :taxonomy, :name, class: 'fullwidth title' %>
    <% end %>
  </div>

  <div class="left col-6" data-hook="admin_title_taxonomy_form" class="field">
    <%= f.field_container :title do %>
      <%= f.label :title, class: 'required' %><br />
      <%= text_field :taxonomy, :title, class: 'fullwidth title' %>
      <%= error_message_on :taxonomy, :title, class: 'fullwidth title' %>
    <% end %>
  </div>

  <div class="left col-12" data-hook="admin_description_taxonomy_form" class="field">
    <%= f.field_container :description do %>
      <%= f.label :description, class: 'required' %><br />
      <%= text_area :taxonomy, :description, class: 'fullwidth title' %>
      <%= error_message_on :taxonomy, :description, class: 'fullwidth title' %>
    <% end %>
  </div>
</div>