<div data-hook="admin_contact_us_email_form_fields">

  <div class="row">

    <div class="left col-6" data-hook="admin_contact_us_email_form_left">
      <div data-hook="admin_contact_us_email_form_name">
        <%= f.field_container :name do %>
          <%= f.label :name, class: 'required' %>
          <%= f.text_field :name, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>
    </div>

    <div class="left col-6" data-hook="admin_contact_us_email_form_right">
      <div data-hook="admin_contact_us_email_form_email">
        <%= f.field_container :email do %>
          <%= f.label :email, class: 'required' %>
          <%= f.email_field :email, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :email %>
        <% end %>
      </div>
    </div>
  </div>
</div>
