<% @order = Spree::Order.last %>
<section class="section bg-primary">
  <div class="container">
    <div class="subsection text-center text-white">
      <h4 class="fw900 text-uppercase"><%= "#{t('spree.order_mailer.your')} #{@order.store.name} #{t('spree.order_mailer.confirm_email.subject')}" %></h4>
      <h6><%= "#{@order.store.name} #{t('order.order_number')}: ##{@order.number}" %></h6>
    </div>    
    <div class="confirmation-container">
      <div class="table-responsive">
        <table>
          <tbody>
            <tr>
              <td>
                <h6>
                  <%= t('.dear_customer') %>
                </h6>
                <h6>
                <% if @order.has_personalized_product %>
                  <%= t('.personalized_instructions_html') %>
                <% else %>
                  <%= t('.instructions_html') %>
                <% end %>  
                </h6>
                <br>
                <h6>
                  <%= t('.thanks_html') %>
                </h6>
              </td>
              <td class="expander"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>

      <div class="subsection">
        <div class="table-responsive">
          <h5><%= "#{t('spree.order_mailer.order_summary')}"%></h5>
          <table class="table table-responsive table-hover" style="min-width: 500px">
            <tbody>
              <% @order.line_items.each do |item| %>
              <% variant_product = item.variant.product %>
              <% product_image = variant_product.display_image %>
                <tr>
                  <td width="55%">
                    <div class="row">
                      <div class="col-3">
                        <% if item.variant.images.empty? %>
                          <%= render('spree/shared/image', image: product_image, size: :small) %>
                        <% else %>
                          <div class="product-img">
                            <%= render('spree/shared/image', image: item.variant.images.first, size: :small) %>
                          </div>
                        <% end %>
                      </div>
                      <div class="col">
                        <h5><%= variant_product.name %></h5>
                        <%= item.variant.options_text %>
                        <span><%= t('spree.quantity') %> x <%= item.quantity %></span><br>
                        <% if item.insufficient_stock? %>
                          <span class="out-of-stock">
                            <%= item.variant.sku %> |
                            <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
                          </span>
                        <% else %>
                          <span class="in-stock">
                            <%= item.variant.sku %> |
                            <%= t('spree.in_stock') %>&nbsp;&nbsp;<br />
                          </span>                                              
                        <% end %>
                        <% variant_product.product_properties.each do |product_property| %>
                          <% if product_property.property.presentation == t('spree.factory_code') %>
                             <span>
                              <%= product_property.value %>
                            </span>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </td>
                  <td width="45%" class="total"><%= item.display_amount.to_html %></td>
                </tr>

                <tr>
                  <td width="55%">
                    <div class="row">
                      <div class="col-3">
                        <% if item.variant.images.empty? %>
                          <%= render('spree/shared/image', image: product_image, size: :small) %>
                        <% else %>
                          <div class="product-img">
                            <%= render('spree/shared/image', image: item.variant.images.first, size: :small) %>
                          </div>
                        <% end %>
                      </div>
                      <div class="col">
                        <span><%= product_image.attachment_width %> x <%= product_image.attachment_height %></span>
                      </div>
                    </div>
                  </td>
                  <td width="45%"><%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_path(variant_product, product_image), no_text: true %></td>
                </tr>

                <% product_pictures = variant_product.product_pictures %>
                <% if product_pictures.present? %>
                  <% product_pictures.each do |picture| %>
                    <tr>
                      <td width="55%">
                        <div class="row">
                          <div class="col-3">
                            <%= render 'spree/admin/shared/product_images', image: picture, size: :mini %>
                          </div>
                          <div class="col">
                            <span><%= picture.product_width %> x <%= picture.product_height %></span><br>
                            <span><%= t('spree.resize') %> : <%= picture.custom_width %>, <%= t('spree.opacity') %> : <%= picture.opacity %></span>
                          </div>
                        </div>
                      </td>
                      <td width="45%"><%= link_to_with_icon 'download', t('spree.actions.download'), download_product_product_picture_path(variant_product, picture), no_text: true %></td>
                    </tr>
                  <% end %>
                <% end %>

                <% gallery_images = variant_product.gallery_uploaded_images %>
                <% if gallery_images.present? %>
                  <% gallery_images.each do |gallery_img| %>
                    <tr>
                      <% product_id = gallery_img.uploaded_photo_id %>
                      <% uploaded_product = Spree::Product.find product_id %>
                      <td><%= uploaded_product.display_image.attachment.url(:small) %></td>
                      <td><%= link_to_with_icon 'download', t('spree.actions.download'), product_download_image_path(variant_product, uploaded_product.display_image), no_text: true %></td>
                    </tr>
                  <% end %>
                <% end %>

                <% product_texts = variant_product.product_texts %>
                <% if product_texts.present? %>
                  <% product_texts.each do |text| %>
                    <tr>
                      <td>
                        <h5>Product Text Content</h5>
                        <%= text.text_content %>
                      </td>
                      <td>
                      <% if text.rotate.present? %>
                        <span><%= t('spree.rotate') %> | <%= text.rotate %></span></br>
                      <% end %>
                      <% if text.line_height.present? %>
                        <span><%= t('spree.line_height') %> | <%= text.line_height %></span></br>
                      <% end %>
                      <% if text.font_size.present? %>
                        <span><%= t('spree.font_size') %> | <%= text.font_size %></span></br>
                      <% end %>
                      <% if text.font_family.present? %>
                        <span><%= t('spree.font_family') %> | <%= text.font_family %></span></br>
                      <% end %>
                      <% if text.opacity.present? %>
                        <span><%= t('spree.opacity') %> | <%= text.opacity %></span></br>
                      <% end %>
                      <% if text.font_color.present? %>
                        <span><%= t('spree.font_color') %> | <%= text.font_color %></span></br>
                      <% end %>
                      <% if text.alignment.present? %>
                        <span><%= t('spree.alignment') %> | <%= text.alignment %></span></br>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
            <tfoot id="order-total" data-hook="order_details_total">
              <tr class="total">
                <td><b><%= t('spree.order_total') %></b></td>
                <td class="total"><span id="order_total"><%= @order.display_order_total_after_store_credit.to_html %></span></td>
              </tr>
            </tfoot>
            <tfoot id="subtotal" data-hook="order_details_subtotal">
              <tr class="total" id="subtotal-row">
                <td><b><%= t('spree.subtotal') %></b></td>
                <td class="total"><span><%= @order.display_item_total.to_html %></span></td>
              </tr>
            </tfoot>
            
            <% if @order.line_item_adjustments.exists? %>
              <% if @order.line_item_adjustments.promotion.eligible.exists? %>
                <tfoot id="price-adjustments" data-hook="order_details_price_adjustments">
                  <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                    <tr class="total">
                      <td><%= t('spree.promotion') %> <strong><%= label %></strong></td>
                      <td class="total">
                        <span><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></span>
                      </td>
                    </tr>
                  <% end %>
                </tfoot>
              <% end %>
            <% end %>

            <tfoot id='shipment-total'>
              <% @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
                <tr class="total" data-hook='shipment-row'>
                  <td><b><%= t('spree.shipping') %></b></td>
                  <td class="total"><span><%= Spree::Money.new(shipments.sum(&:total_before_tax), currency: @order.currency).to_html %></span></td>
                </tr>
              <% end %>
            </tfoot>

            <% if @order.all_adjustments.tax.exists? %>
              <tfoot id="tax-adjustments" data-hook="order_details_tax_adjustments">
                <% @order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
                  <tr class="total">
                    <td colspan=""><%= t('spree.tax') %>: <strong><%= label %></strong></td>
                    <td class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></span></td>
                  </tr>
                <% end %>
              </tfoot>
            <% end %>

            <% if @order.total_applicable_store_credit > 0.0 %>
              <tfoot id="store-credit" data-hook="order_details_store_credit">
                <tr class="total">
                  <td colspan='3'><%= t('spree.store_credit.store_credit') %>:</td>
                  <td class='total'><span><%= @order.display_total_applicable_store_credit.to_html %></span></td>
                </tr>
              </tfoot>
            <% end %>

            <div class="subsection">
              <div class="row">
                <div class="col-lg-6 offset-lg-6">
                  <tfoot id="order-charges" data-hook="order_details_adjustments">
                    <% @order.adjustments.eligible.each do |adjustment| %>
                    <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                    <div class="row">
                      <tr class="total">
                        <div class="col-4 offset-3">
                          <td colspan="3" class="fw900 text-center"><strong><%= adjustment.label %></strong></td>
                        </div>
                        <div class="col-5">
                          <td class="total text-center"><span><%= adjustment.display_amount.to_html %></span></td>
                        </div>
                      </tr>
                    </div>
                    <% end %>
                  </tfoot>
                </div>
              </div>
            </div>
          </table>
        </div>
      </div>
      <hr>

      <div class="subsection">
        <div>
          <h4 class="fw900"><%= t('order.order_number') %>: <%= @order.number %></h4>
          <%= render partial: 'spree/shared/address', locals: { address: @order.ship_address, type: "shipping", order: @order } %>
          <%= render partial: 'spree/shared/address', locals: { address: @order.bill_address, type: "billing", order: @order } %>
            
          <div>
            <p>
              <strong class="text-uppercase"><%= t("spree.shipments") %>: </strong>&nbsp;
            </p>
            <% @order.shipments.each do |shipment| %>
            <p>
              <i class='fa fa-truck mr-2 fa-2x text-primary'></i>
              <%= t('spree.shipment_details', stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
            </p>
            <% end %>
          </div>
                
          <div>
            <p>
              <strong class="text-uppercase"><%= t("spree.payment_information") %>: </strong>&nbsp;
            </p>
            <p>
              <% @order.payments.valid.each do |payment| %>
                <%= render payment %><br/>
              <% end %>
            </p>
          </div>
                        
        </div>
      </div>
    </div>
  </div>
</section>
