<section class="section bg-primary">
  <div class="container">
    <div class="confirmation-container">
      <div class="table-responsive">
        <table>
          <tr>
            <td>
              <h4>
                <%= t('.dear_team') %>
              </h4>
              <h4>
                <%= t('.contents_html', reference_number: @contact.reference_number) %>
              </h4>
              <br>
              <h4>
                <%= t('.thanks_html') %>
              </h4>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover" style="min-width: 500px">
          <tbody>
            <tr>
              <td>Customer Name: </td><td><%= @contact.name %></td>
            </tr>
            <tr>  
              <td>Subject: </td><td><%= @contact.subject %></td>
            </tr>
            <tr>  
              <td>Message: </td><td><%= simple_format @contact.message %></td>
            </tr>
          <% if @contact.file.present? %>  
            <tr>  
              <td>File: </td><td><%= image_tag @contact.file.url(:email) %></td>
            </tr>
          <% else %>  
            <tr>  
              <td>File: </td><td>N/A</td>
            </tr>
          <% end %>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
