<% if adjustments.sum(&:amount) != 0 %>
  <% if params["controller"] == "spree/orders" %>
    <tr class="adjustment">
      <td colspan="6">
        <h5>
          <i class="fa fa-minus mr-2 text-primary" aria-hidden="true"></i> <%= type %>: <%= label %>
        </h5>
      </td>
      <td colspan="2"><h5><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></h5></td>
      <!-- <td></td> -->
    </tr>
  <% else %>
    <tr class="adjustment">
      <td>
        <h5>
          <i class="fa fa-minus mr-2 text-primary" aria-hidden="true"></i> <%= type %>: <%= label %>
        </h5>
      </td>
      <td></td>
      <td><h5><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></h5></td>
    </tr>
  <% end %>  
<% end %>
