<% order = order_form.object %>
<%= render 'spree/shared/error_messages', target: order %>
<div class="table-responsive">
  <table class= "table table-hover" id="cart-detail" style="min-width: 1023px" data-hook>
    <thead class="no-background">
      <tr data-hook="cart_items_headers">
        <th scope="col" class="cart-item-description-header" colspan="2"><%= t('spree.items') %></th>
        <th scope="col" class="cart-item-dimension-header"><%= t(:'spree.dimension') %></th>
        <th scope="col" class="cart-item-weight-header"><%= t(:'spree.weight') %></th>
        <th scope="col" class="cart-item-quantity-header text-center"><%= t('spree.quantity') %></th>
        <th scope="col" class="cart-item-price-header"><%= t('spree.unit_price') %></th>
        <th scope="col" class="cart-item-total-header text-uppercase"><%= t('spree.sub_total') %></th>
        <th scope="col" class="cart-item-delete-header"></th>
      </tr>
    </thead>
    <tbody id="line_items" data-hook>
      <%= render partial: 'spree/orders/line_item', collection: order.line_items, locals: { order_form: order_form } %>
    </tbody>
    <% if order.adjustments.nonzero.exists? || order.line_item_adjustments.nonzero.exists? || order.shipment_adjustments.nonzero.exists? || order.shipments.any? %>
      <tr class="cart-subtotal">
        <td colspan="4" align='right'><h5><%= t('spree.cart_subtotal', count: order.line_items.sum(:quantity)) %></h5></th>
        <td colspan><h5><%= order.display_item_total %></h5></td>
        <td></td>
      </tr>
      <%= render "spree/orders/adjustments" %>
    <% end %>
  </table>
</div>