<% @body_id = 'cart' %>
<section class="section table-section">
  <div class="container" data-hook="cart_container">
    <div class="subsection">
      <h1 class="pay-pagination-item active"><%= t('spree.shopping_cart') %></h1>
    </div>

    <% if @order.line_items.empty? %>

      <div data-hook="empty_cart">
        <p><%= t('spree.your_cart_is_empty') %></p>
        <p><%= link_to t('spree.continue_shopping'), spree.root_path, class: 'btn btn-info' %></p>
      </div>

    <% else %>

      <div data-hook="outside_cart_form">
        <div class='cart-form-1'>
          <%= render partial: 'cart_form' %>
        </div>
        <%= form_tag empty_cart_path, method: :put, class: "cart-empty-frm" do %>
            <div id="clear_cart_link" data-hook>
              <%= submit_tag t('spree.empty_cart'), class: 'gray btn-empty-cart button checkout btn btn-info' %>
              <%#= t('spree.or') %>
              
            </div>
        <% end %>
      </div>

    <% end %>
  </div>
</section>