<fieldset id="payment" data-hook>
  <legend align="center"><%#= t('spree.payment_information') %></legend>
  <div class="row">
    <div class="col-md-6">
      <div class="subsection">
        <div class="payment-method-card">
          <div class="payment-method-card__top">
            <%= image_tag 'spree/frontend/tpl/card-icons-img.png', id: 'credit-card-image' %>
          </div>
          <div class="payment-method-card__bottom">
            <div class="subsection-sm">
              <div data-hook="checkout_payment_step">
              <!-- Not supporting wallet feature at this moment -->  
                <% if false && @wallet_payment_sources.present? %>
                  <div class="card_options text-left">
                    <%= radio_button_tag 'use_existing_card', 'yes', true %>
                    <label for="use_existing_card_yes">
                      <%= t('spree.use_existing_cc') %>
                    </label>
                    <br/>
                    <%= radio_button_tag 'use_existing_card', 'no' %>
                    <label for="use_existing_card_no">
                      <%= t('spree.use_new_cc_or_payment_method') %>
                    </label>
                  </div>

                  <div id="existing_cards">
                    <p class="field" data-hook="existing_cards">
                      <table class="existing-credit-card-list">
                        <tbody>
                          <% @wallet_payment_sources.each do |wallet_payment_source| %>
                            <%=
                              render(
                                partial: "spree/checkout/existing_payment/#{wallet_payment_source.payment_source.payment_method.partial_name}",
                                locals: {
                                  wallet_payment_source: wallet_payment_source,
                                  default: wallet_payment_source == @default_wallet_payment_source,
                                }
                              )
                            %>
                          <% end %>
                        </tbody>
                      </table>
                    </p>
                  </div>
                <% end %>
              <!-- end -->
                <div id="payment-method-fields" class="text-left" data-hook>
                  <% @order.available_payment_methods.each do |method| %>
                  <div style="display:none">
                    <label>
                      <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
                      <%= t(method.name, scope: 'spree.payment_methods', default: method.name) %>
                    </label>
                  </div>
                  <% end %>
                </div>

                <ul id="payment-methods" class="payment_methods" data-hook>
                  <% @order.available_payment_methods.each do |method| %>
                    <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                      <%= render partial: "spree/checkout/payment/#{method.partial_name}", locals: { payment_method: method } %>
                    </li>
                  <% end %>
                </ul>
                <br style="clear:both;" />
              </div>
            </div>
            <!-- <p class="text-muted">After clicking "Save and Continue", you will be redirected to PayPal to complete your purchase securely.</p> -->
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="stock-contents table table-hover" data-hook="stock-contents" style="min-width: 500px">
          <thead>
            <tr>
              <th width="65%" align='left' scope="col" class="text-uppercase"><%= t('spree.item') %></th>
              <th width="10%" scope="col" class="text-uppercase"><%= t('spree.qty') %></th>
              <th width="25%" scope="col"><%= t('spree.price') %></th>
            </tr>
          </thead>
          <tbody>
            <% @order.line_items.each do |line_item| %>
              <% variant = line_item.variant -%>
              <tr class="stock-item">
                <td>
                  <div class="row">
                    <div class="col-4">
                     <% if variant.images.empty? %>
                      <%= link_to(render('spree/shared/image', image: variant.product.display_image, size: :small), variant.product) %>
                      <% else %>
                        <%= link_to(render('spree/shared/image', image: variant.images.first, size: :small), variant. product) %>
                      <% end %>
                    </div>
                    <div class="col-8">
                      <h4 class="fw900 text-uppercase"><%= link_to line_item.name, product_path(variant.product) %></h4>
                      <span class="in-stock">
                        <%= line_item.variant.sku %><br />
                      </span>                                                                        
                    </div>
                  </div>
                </td>
                <td class="item-qty"><%= line_item.quantity %></td>                
                <td><%= line_item.display_amount.to_html %></td>
              </tr>
            <% end %>
          </tbody>
          <%= render "spree/orders/adjustments" %>
          <tfoot>
            <tr>
              <td colspan="2">
                <h5>
                  <%= t('spree.total') %>
                </h5>
              </td>
              <td> 
                <h5><%= @order.display_total.to_html %></h5>
              </td>
            </tr>
          <% if @order.has_personalized_product? %>  
            <tr>
              <td colspan="3">
                <p>
                  <small class="form-text"><%= t('spree.delivery_message_for_personalized_product') %></small>
                </p>                        
              </td>
            </tr>
          <% end %>              
          </tfoot>
        </table>
        <div class="form-buttons subsection-sm text-right" data-hook="buttons">
          <%= submit_tag t('spree.save_and_continue'), class: 'continue button primary btn btn-info' %>
          <script>Spree.disableSaveOnClick();</script>
        </div>        
      </div>
    </div>
  </div>
</fieldset>

<!-- <br class="space" /> -->

