<section class="section table-section">
  <div class="container">
    <div id="checkout" data-hook>
      <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= t('spree.system_message.header') %></h4>
        <p>
          <%= flash_messages %>
        </p>
      </div>
    <% end %>
      <div data-hook="checkout_header">
         <h1 class="columns three alpha" data-hook="checkout_title"><%#= t('spree.checkout') %></h1>
        <div class="columns thirteen omega" data-hook="checkout_progress">
          <div class="subsection">
            <%= checkout_progress %>
          </div>
        </div>
      </div>
      <% if @order.state == 'address' && I18n.locale == :'zh-HK' %>
      <div class="row">
        <div class="col-md-12">
          <p>
            <strong>GlassXpert & Design 玻璃設計館採用EasyShip運輸平台, 固帳單及出貨地址必須以英文填寫。</strong>
          </p>        
        </div>
      </div>
      <% end %>
      <div class="row" data-hook="checkout_content">
        <div class="columns <%= if @order.state != 'confirm' then 'alpha twelve billing-form' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper">
          <div class="subsection">
            <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: 'check-out-form'} do |form| %>
            <div class="form-group">
              <div class="col-md-6">
                <% if @order.state == 'address' || !@order.email? %>
                  <p class="field" style='clear: both'>
                    <%= form.label :email, t('spree.email') %><br />
                    <%= form.email_field :email, required: true, class: 'form-control' %>
                  </p>
                <% end %>
              </div>
            </div>
              <%= render @order.state, form: form %>
            <% end %>
          </div>
        </div>
        <% if @order.state != 'confirm' %>
          <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
            <%#= render partial: 'summary', locals: { order: @order } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>