<% id = payment_method.id %>

<%= render "spree/shared/paypal_braintree_head_scripts" %>

<% if current_store.braintree_configuration.credit_card? %>
  <fieldset class="braintree-hosted-fields" data-braintree-hosted-fields data-id="<%= id %>">
    <%= render "spree/shared/braintree_hosted_fields", id: id %>
  </fieldset>
  <p class="text-left">
    <small class="form-text">
      <%=h t('payment.credit_card_instruction_html')%>
    </small>
  </p>
  
<% end %>

<% if current_store.braintree_configuration.paypal? %>
  <hr>
  <%= render "spree/shared/paypal_checkout_button" %>
<% end %>

<% if current_store.braintree_configuration.apple_pay? %>
  <hr>
  <%= render "spree/shared/apple_pay_button" %>
<% end %>

<br>
<p class="text-left">
  <small class="form-text">
    <%=h t('payment.paypal_braintree_agreement_html')%>
  </small>
</p>
