<% url = spree.nested_taxons_path(taxon.permalink) %>
<a class="frame-selection-card <%= cycle("", "light-bg", "", "light-bg", "light-bg", "", "light-bg", "", name: "classes") %>" href="<%= url %>">
	<div class="table-parent-md">
		<div class="vertical-middle">
			<div class="frame-view <%= taxon.meta_title %>">
				<div class="table-parent-md">
					<div class="vertical-middle">
						<p class="frame-title"><%= taxon.name %></p>
					</div>
				</div>
			</div>
			<p class="frame-price"><%= t :'glass_photo_prints.layout_number', count: taxon.products.size %></p>
		</div>
	</div>
</a>
