<div class="main">
  <section class="section account-section">
    <div class="container bigger">
      <div class="row">
        <div class="col-md-3">
          <div class="account-box">
            <h2 class="text-primary account-box-title"><%= accurate_title %></h2>
            <ul class="account-nav">
              <li>
                <%= link_to Spree.t(:current_order), account_path %>
              </li>
              <li>
                <%= link_to Spree.t(:shopping_cart), cart_path %>
              </li>
              <li>
                <%= link_to Spree.t(:order_history), order_history_path, remote: true %>
              </li>
              <li>
                <div data-hook="account_summary" class="account-summary">
                  <dl id="user-info">
                    <dd><%= link_to Spree.t(:edit_profile), spree.edit_account_path, remote: true %></dd>
                  </dl>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="order_summary col-md-9">
          <h2 class="fw900 text-primary text-uppercase"><%= Spree.t(:current_order_summary) %></h2>
          <%= render partial: 'order_summary' %>
        </div>
      </div>
    </div>
  </section>
</div>
