<section class="section bg-primary">
  <div class="container">
    <div class="subsection text-center text-white">
      <h4 class="fw900 text-uppercase">
        <%= "#{t('spree.order_mailer.your')} #{@order.store.name} #{t('.subject')}" %>
      </h4>
      <h6><%= "#{@order.store.name} #{t('order.order_number')}: ##{@order.number}" %></h6>
    </div>    
    <div class="confirmation-container">
      <div class="table-responsive">
        <table>
          <tbody>
            <tr>
              <td>
                <h6>
                  <%= t('.dear_customer', customer_name: @customer_name) %>
                </h6>
                <h6>
                <% if @order.ship_address.country.iso == "HK" %>  
                  <%= t('.instructions_hong_kong_html') %>
                <% else %>
                  <%= t('.instructions_outside_hong_kong_html') %>
                <% end %>  
                </h6>
              <% if @carton.tracking %>
                <br>
                <h6>
                  <%= t('.track_information', tracking: @carton.tracking) %>
                </h6>
                <% if @carton.tracking_url%>
                <h6>
                  <%= t('.track_link', url: @carton.tracking_url) %>
                </h6>
                <% end %>
              <% end %>  
                <br>
                <h6>
                  <%= t('.thanks_html') %>
                </h6>
              </td>
              <td class="expander"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <%= button_tag class: 'button checkout btn btn-info', name: 'checkout' do %>
                  <%= link_to "View your order", token_order_url(@order.number, @order.guest_token) %>
                <% end %>
                &nbsp;&nbsp;or&nbsp;&nbsp;
                <%= link_to 'Visit our store', spree.root_url, class: "link" %>                
              </td>
            </tr>
          </tfoot>          
        </table>
      </div>
      <hr>
      <div class="subsection">
        <div class="table-responsive">
        <h5><%= "#{t('spree.order_mailer.order_summary')}"%></h5>
        <table class="table table-responsive table-hover" style="min-width: 500px">
          <thead>
            <tr>
              <th width="15%" class="text-uppercase" scope="col">&nbsp;</th>
              <th width="60%" class="text-uppercase" scope="col"><%= t('spree.item') %></th>
            </tr>
          </thead>
          <tbody>
            <% @manifest.each_with_index do |item, i| %>
              <tr>
                <td><%= "#{i + 1}." %></td>
                <td>
                  <div class="row">
                    <div class="col-3">
                    <% if item.variant.images.empty? %>
                      <%= render('spree/shared/image', image: item.variant.product.display_image, size: :small) %>
                    <% else %>
                    <div class="product-img">
                      <%= render('spree/shared/image', image: item.variant.images.first, size: :small) %>
                    </div>
                    <% end %>
                    </div>
                    <div class="col">
                      <h4><%= item.variant.product.name %></h4>
                      <%= item.variant.options_text %>
                      <span><%= t('spree.quantity') %> x <%= item.quantity %></span><br>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</section>
