<section class="section bg-primary">
  <div class="container">
    <div class="subsection text-center text-white">
      <h2 class="fw900 text-uppercase">
        <%= "#{t('spree.order_mailer.your')} #{@order.store.name} #{t('spree.shipment_mailer.shipped_email.subject')}" %>
      </h2>
      <h3><%= "#{t('spree.order_mailer.ref')}: #{@order.store.name} #{t('order.order_number')} ##{@order.number}" %></h3>
    </div>    
    <div class="confirmation-container">
      <div class="table-responsive">
        <table>
          <tr>
            <td>
              <h4>
                <%= t('spree.shipment_mailer.shipped_email.dear_customer') %>
              </h4>
              <h4>
              <% if @order.ship_address.country.iso == "HK" %>  
                <%= t('spree.shipment_mailer.shipped_email.instructions_hong_kong_html') %>
              <% else %>
                <%= t('spree.shipment_mailer.shipped_email.instructions_outside_hong_kong_html') %>
              <% end %>  
              </h4>
              <br>
              <h4>
                <%= t('spree.shipment_mailer.shipped_email.track_information', tracking: @carton.tracking) if @carton.tracking %>
              </h4>
              <h4>
                <%= t('spree.shipment_mailer.shipped_email.track_link', url: @carton.tracking_url) if @carton.tracking_url %>
              </h4>
              <br>
              <h4>
                <%= t('spree.shipment_mailer.shipped_email.thanks_html') %>
              </h4>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </div>
      <div class="subsection">
        <div class="order-details-card">
          <h3 class="fw900"><%= t('order.order_number') %>: <%= @order.number %></h3>
          <%= render partial: 'spree/shared/address', locals: { address: @order.ship_address, type: "shipping", order: @order } %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" style="min-width: 500px">
          <thead>
            <tr>
              <th width="60%" scope="col" class="text-uppercase"><%= t('spree.items') %></th>
              <th width="15%" class="price text-uppercase" scope="col"><%= t('spree.price') %></th>
              <th width="10%" class="qty text-uppercase" scope="col"><%= t('spree.qty') %></th>
            </tr>
          </thead>
          <tbody>
            <% @manifest.each do |item| %>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-3">
                    <% if item.variant.images.empty? %>
                      <%= render('spree/shared/image', image: item.variant.product.display_image, size: :small) %>
                    <% else %>
                    <div class="product-img">
                      <%= render('spree/shared/image', image: item.variant.images.first, size: :small) %>
                    </div>
                    <% end %>
                    </div>
                    <div class="col">
                      <h4><%= item.variant.product.name %></h4>
                      <%= item.variant.options_text %>
                    </div>
                  </div>
                </td>
                <td class="price"><%= item.single_money.to_html %></td>
                <td><%= item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
