<% prefix = "payment_source[#{id}]" %>

<%= render partial: "spree/shared/braintree_errors" %>


<div class="hosted-fields text-left">
  <div class="row">
    <div class="form-group col-sm-8" data-hook="card_number">
      <%= label_tag "card_number#{id}", Spree::CreditCard.human_attribute_name(:number), class: "required control-label" %>
      <div class="form-control" id="card_number<%= id %>"></div>
      <span class="helper-text"></span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4" data-hook="card_expiration">
      <%= label_tag "card_expiry#{id}", Spree::CreditCard.human_attribute_name(:expiry_date), class: "required control-label" %>
      <div class="form-control" id="card_expiry<%= id %>"></div>
      <span class="helper-text">(MM/YYYY)</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4" data-hook="card_code">
      <%= label_tag "card_code#{id}", Spree::CreditCard.human_attribute_name(:card_code), class: "required control-label" %>
      <div class="form-control" id="card_code<%= id %>"></div>

      <a href="/content/cvv" class="info cvvLink" target="_blank">
        (<%= Spree.t(:what_is_this) %>)
      </a>
    </div>
  </div>
  
  <div class="clear"></div>
  <input type="hidden" name="<%= prefix %>[payment_type]" value="<%= SolidusPaypalBraintree::Source::CREDIT_CARD %>">
  <input type="hidden" id="payment_method_nonce" name="<%= prefix %>[nonce]">
</div>
