<footer class="footer" id="footer" data-hook>1
  <div class="container bigger" id="footer-left" data-hook>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="subsection">
          <h5 class="bigger text-white"><%= t('glassxpert_details.glassxpert_design') %></h5>
          <p class="text-muted">&copy; <%= Date.current.year %><%= t('glassxpert_details.glassxpert_design_company_limited') %>
            <br><%= t('glassxpert_details.rights_reserved') %></p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="subsection">
          <p><a href="mailto:support@glassxpertndesign.com">support@glassxpertndesign.com</a>
          </p>
          <p><a href="tel:+85212345678"><%= t('glassxpert_details.fax') %>: +852 2796 2688</a>
          </p>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12">
        <div class="subsection">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <p><a href="/"><%= t('top_header.home') %></a>
              </p>
              <p><a href="/t/glass-gifts"><%= t('top_header.glass_gifts') %></a>
              </p>
              <p><a href="/t/glass-photo-prints"><%= t('top_header.glass_photo_prints') %></a>
              </p>
              <p><a href="/photo-gallery"><%= t('top_header.photo_gallery') %></a>
              </p>
              <p><a href="/pages/interior-decorative-glass/superior"><%= t('top_header.interior_decorative_glass') %></a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="/about-us"><%= t('footer.about_us') %></a>
              </p>
              <p><a href="/our-production"><%= t('footer.our_production') %></a>
              </p>
              <p><a href="/faq"><%= t('footer.ask_questions') %></a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="/terms"><%= t('footer.terms_and_conditions') %></a>
              </p>
              <p><a href="/privacy-policy"><%= t('footer.privacy_policy') %></a>
              </p>
              <p><a href="/return-policy"><%= t('footer.return_policy') %></a>
              </p>
              <p><a href="/shipping-info"><%= t('footer.shipping_info') %></a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="/contact-us"><%= t("top_header.contact_us") %></a>
              </p>
              <p><a href="https://www.facebook.com/glassxpertndesign/"><%= t('social_links.shipping_info') %></a>
              </p>
              <p><a href="https://www.instagram.com/glassxpert"><%= t('social_links.instagram') %></a>
              </p>
              <p><a href="/business-partnership"><%= t('social_links.partnership') %></a>
              </p>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</footer>
<!--/.footer-->

<%= display_flash_message(flash) %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
