<header id="header" data-hook>
  <!--/ Visible 1200 and more-->
  <div class="secondary-nav d-none d-xl-block">
    <div class="container bigger">
      <nav class="navbar navbar-expand-xl navbar-light">
        <%= render partial: 'spree/shared/promotion_banner' %>
        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <% if spree_current_user %>
              <li class="nav-item">
              <% if spree_current_user.full_name.present? %>  
                <%= link_to "#{t('top_header.welcome')}, #{spree_current_user.full_name}!", 'javascript:;', class: "nav-link" %>
              <% else %>
                <%= link_to "#{t('top_header.welcome')} !", 'javascript:;', class: "nav-link" %>
              <% end %>  
              </li>
              <li class="nav-item">
                <%= link_to t('top_header.my_account'), '/account', class: "nav-link text-uppercase" %>
              </li>
            <% end %>
            <li class="nav-item" id="link-to-cart" data-hook>
              <%= link_to '/cart', class: "nav-link" do %>
                <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i><%= t('spree.shopping_cart') %>
                <% if current_order %>
                  <span class="badge badge-primary badge-pill">
                    <%= current_order.item_count %>
                  </span>
                <% end %>  
              <% end %>
            </li>
            <li class="nav-item">
              <% if spree_current_user %>
                <%= link_to Spree.t(:logout), destroy_spree_user_session_path, class: "nav-link db-none" %>
              <% else %>
                <%= link_to Spree.t(:login), spree_login_path, class: "nav-link db-none" %>
              <% end %>
            </li>
          </ul>
        </div>        
        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <%= render partial: 'spree/shared/locale_selector' %>                    
          </ul>
        </div>        
      </nav>
    </div>
  </div>
  <div class="header_content">
    <div class="container bigger">
      <nav class="navbar custom-nav navbar-expand-xl navbar-light">
        <figure id="logo" data-hook> <!-- class="columns six" -->
          <%= logo %>
        </figure>

        <button class="navbar-toggler show-menu" type="button">
          <span class="navbar-toggler-icon">
            <span class="top-line"></span>
            <span class="middle-line"></span>
            <span class="bottom-line"></span>
          </span>
        </button>

        <div class="mobile-nav-bg"></div>

        <div class="navbar-collapse mobile-nav">
          <ul class="navbar-nav ml-auto mr-auto js-collapse-activeitem taxonomies">
            <li class="nav-item">
              <%= link_to t('top_header.home'), '/', class: "nav-link js-nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to  t('top_header.glass_gifts'), "/t/glass-gifts", class: "nav-link js-nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('top_header.glass_photo_prints'), "/t/glass-photo-prints", class: "nav-link js-nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('top_header.photo_gallery'), "/t/photo-gallery", class: "nav-link js-nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('top_header.interior_decorative_glass'), "/pages/interior-decorative-glass", class: "nav-link js-nav-link" %>
            </li>
            <li class="nav-item mb-0">
              <%= link_to t('top_header.contact_us'), "/contact-us", class: "nav-link js-nav-link" %>
            </li>
          </ul>
          <!--/ navbar-->
          <ul class="navbar-nav ml-auto js-collapse-activeitem">
            <!--/ Visible 1199 and min-->
            <li class="nav-item secondary-item d-xl-none">
              <hr class="bg-white">
            </li>
            <% if spree_current_user %>
              <li class="nav-item secondary-item d-xl-none">
                <% if spree_current_user.full_name.present? %>  
                  <%= link_to "#{t('top_header.welcome')}, #{spree_current_user.full_name}!", 'javascript:;', class: "nav-link js-nav-ink" %>
                <% else %>
                  <%= link_to "#{t('top_header.welcome')} !", 'javascript:;', class: "nav-link js-nav-ink" %>
                <% end %>                  
              </li>
              <!--/ Visible 1199 and min-->
              <li class="nav-item secondary-item d-xl-none">
                <%= link_to t('top_header.my_account'), spree.account_path, class: "nav-link js-nav-link" %>
              </li>
            <% end %>
            <!--/ Visible 1199 and min-->
            <li class="nav-item secondary-item d-xl-none" id="link-to-cart" data-hook>
              <%= link_to spree.cart_path, class: "nav-link js-nav-link" do %>
                <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i><%= t('spree.shopping_cart') %>
                <% if current_order %>
                  <span class="badge badge-primary badge-pill">
                    <%= current_order.item_count %>
                  </span>                
                <% end %>  
              <% end %>
            </li>
            <!--/ Visible 1199 and min-->
            <li class="nav-item secondary-item d-xl-none">
              <% if spree_current_user %>
                <%= link_to Spree.t(:logout), destroy_spree_user_session_path, class: "nav-link js-nav-link" %>
              <% else %>
                <%= link_to Spree.t(:login), spree_login_path, class: "nav-link js-nav-link" %>
              <% end %>
            </li>
            <li class="nav-item secondary-item d-xl-none">
              <hr class="bg-white">
            </li>
            <li class="nav-item social-item">
              <a class="nav-link js-nav-link" href="https://www.facebook.com/glassxpertndesign/" target="blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <!--/ Visible 1199 and min-->
              <a class="nav-link js-nav-link d-xl-none" href="https://www.instagram.com/glassxpert" target="blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a class="nav-link js-nav-link d-xl-none" href="https://www.amazon.co.uk/s?k=glassxpert+%26+design&ref=nb_sb_noss" target="blank">
                <i class="fa fa-amazon" aria-hidden="true"></i>
              </a>
              <a class="nav-link js-nav-link d-xl-none" href="https://www.etsy.com/uk/shop/GlassXpertUK/items" target="blank">
                <i class="fa fa-etsy" aria-hidden="true"></i>
              </a>
            </li>
            <!--/ Visible 1200 and more -->
            <li class="nav-item social-item d-none d-xl-block ml-auto">
              <a class="nav-link js-nav-link" href="https://www.instagram.com/glassxpert" target="blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item social-item d-none d-xl-block ml-auto">
              <a class="nav-link js-nav-link" href="https://www.amazon.co.uk/s?k=glassxpert+%26+design&ref=nb_sb_noss" target="blank">
                <i class="fa fa-amazon" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item social-item d-none d-xl-block ml-auto">
              <a class="nav-link js-nav-link" href="https://www.etsy.com/uk/shop/GlassXpertUK/items" target="blank">
                <i class="fa fa-etsy" aria-hidden="true"></i>
              </a>
            </li>

            <%= render partial: 'spree/shared/nav_bar' %>
          </ul>

        </div>
        <!--/ navbar-collapse-->
      </nav>
    </div>
    <!--/ container-->
  </div>
  <!--/.header_content-->

  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>

<!-- <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script> -->
