<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path, html: { class: "form sign-in"} do |f| %>
  <div id="password-credentials">
    <div>
      <%= f.email_field :email, class: 'form-control', tabindex: 1, autofocus: true, placeholder: Spree.t(:email), required: true  %>
    </div>
    <div>
      <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password), required: true %>
    </div>
  </div>
  <!-- <div class="custom-control custom-checkbox">
    <%#= f.check_box :remember_me, tabindex: 3, class: "custom-control-input" %>
    <%#= f.label :remember_me, Spree.t(:remember_me), class: "custom-control-label" %>
  </div> -->

  <p class="mb-3 pt-1">
    <!-- <%#= Spree.t(:or) %>&nbsp;<%#= link_to Spree.t(:create_a_new_account), spree.signup_path %> | --> 
    <span class="text-underline" id="give_alert" onclick="showAlert(event)">
      <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
    </span>
  </p>

  <div class="text-right pt-2">
    <%= f.submit t('sign_in.sign_in'), class: 'btn btn-info',id: "give_alert", onclick: "showAlert(event)", tabindex: 4 %>
  </div>
<% end %>


<script>
  function showAlert(event) {
    alert("Temporarly Blocked Service");
    event.preventDefault();
  }
</script>