<% address = current_order.ship_address %>
<% state = address.state.present?? address.state.name : '' %>
<%# 
  if address.country.iso == "GB" 
    state = ''
  end
%>
<% locale = 'en_US' %>
<% 
  if I18n.locale.present? && I18n.locale == 'zh-HK' 
    locale = 'zh_HK'
  end
%>

<div id="paypal-button" class="text-left"></div>

<script>
  var address = {
    line1: '<%= address.address1 %>',
    line2: '<%= address.address2 %>',
    city: '<%= address.city %>',
    state: '<%= state %>',
    postalCode: '<%= address.zipcode %>',
    countryCode: '<%= address.country.iso %>',
    phone: '<%= address.phone %>',
    recipientName: '<%= "#{address.firstname} #{address.lastname}" %>'
  }
  var paypalOptions = {
    flow: 'vault',
    enableShippingAddress: true,
    shippingAddressOverride: address,
    shippingAddressEditable: false,
    locale: '<%= locale %>',
    environment: '<%= Rails.env.production? ? "production" : "sandbox" %>'
  }
  var button = new SolidusPaypalBraintree.createPaypalButton(document.querySelector("#paypal-button"), paypalOptions);
  button.initialize();
</script>