<%# content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation">
    <%#= render partial: 'spree/shared/taxonomies' %>
  </div> -->
<%# end %>

<!-- <div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<section class="home-section">
  <div class="container bigger">
    <div class="home-carousel-container">
      <div class="owl-carousel js-owl-home owl-theme">
        <div class="item">
          <%= image_tag 'spree/frontend/media/home-slide-img-4.jpg', alt: '' %>
        </div>
        <div class="item">
          <%= image_tag 'spree/frontend/media/home-slide-img-5.jpg', alt: '' %>
        </div>
      </div>
      <a class="js-home-owl-prev-1 owl-arr owl-arr__prev text-primary" href="#0">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      <a class="js-home-owl-next-1 owl-arr owl-arr__next text-primary" href="#0">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<section class="section bg-white text-center">
  <div class="container">
    <div class="subsection">
      <h2 class="text-primary text-uppercase fw900"><%= t('home.background') %></h2>
      <h3 class="text-primary fw400"><%= t('home.background_text') %></h3>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <a href="/t/glass-gifts">
                <%= image_tag 'spree/frontend/tpl/gift@2x.png', class: "mb-4", style: "width: 124px;" %>
              </a>
              <h2 class="card-title"><a class="text-primary" href="/t/glass-gifts"><%= t('top_header.glass_gifts') %></a></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <a href="/t/glass-photo-prints">
                <%= image_tag 'spree/frontend/tpl/print@2x.png', class: "mb-4", style: "width: 124px;" %>
              </a>
              <h2 class="card-title"><a class="text-primary" href="/t/glass-photo-prints"><%= t('top_header.glass_photo_prints') %></a></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <a href="/pages/interior-decorative-glass">
                <%= image_tag 'spree/frontend/tpl/interior@2x.png', class: "mb-4", style: "width: 124px;" %>
              </a>
              <h2 class="card-title"><a class="text-primary" href="/pages/interior-decorative-glass"><%= t('top_header.interior_decorative_glass') %></a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="subsection">
      <h3 class="text-primary fw400">
        <%= render_snippet "/glassxpert-n-design-background" %>
      </h3>
    </div>
  </div>

</section>

<section class="section bg-blue-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="subsection">
          <%= image_tag 'spree/frontend/media/content-img-1.jpg', class: "img-full-width", alt: "" %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="subsection">
          <h2 class="text-primary"><%= t('top_header.glass_gifts') %></h2>
          <%= render_snippet "/home-glass-gifts" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 order-lg-12">
        <div class="subsection">
          <%= image_tag "spree/frontend/media/content-img-2.jpg", class: "img-full-width", alt: '' %>
        </div>
      </div>

      <div class="col-lg-6 order-lg-1">
        <div class="subsection">
          <h2 class="text-primary"><%= t('top_header.glass_photo_prints') %></h2>
          <%= render_snippet "/home-glass-photo-prints" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="subsection">
          <%= image_tag "spree/frontend/media/content-img-3.jpg", class: "img-full-width", alt: '' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="subsection">
          <h2 class="text-primary"><%= t('top_header.interior_decorative_glass') %></h2>
          <%= render_snippet "/home-glass-for-interior-design" %>
        </div>
      </div>
    </div>
  </div>
</section>
