<%# content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation">
    <%#= render partial: 'spree/shared/taxonomies' %>
  </div> -->
<%# end %>

<!-- <div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<section class="home-section">
  <div class="container bigger">
    <div class="home-carousel-container">
      <div class="owl-carousel js-owl-home owl-theme">
        <div class="item">
          <%= image_tag 'spree/frontend/media/home-slide-img-1.jpg', alt: '' %>
          <!-- <img src="img/media/home-slide-img-1.jpg" alt=""> -->
        </div>
        <div class="item">
          <%= image_tag 'spree/frontend/media/home-slide-img-2.jpg', alt: '' %>
          <!-- <img src="img/media/home-slide-img-1.jpg" alt=""> -->
        </div>
        <div class="item">
          <%#= image_tag 'spree/frontend/media/home-slide-img-1.jpg', alt: '' %>
          <!-- <img src="img/media/home-slide-img-1.jpg" alt=""> -->
        </div>
      </div>
      <a class="js-home-owl-prev-1 owl-arr owl-arr__prev text-primary" href="#0">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      <a class="js-home-owl-next-1 owl-arr owl-arr__next text-primary" href="#0">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <a class="btn btn-outline-primary btn-more-carousel btn-sm" href="#">Know more</a>
    </div>
    <!--/home-carousel-container-->
  </div>
  <!--/container-->
</section>
<!--/section-->
<section class="section bg-white text-center">
  <div class="container">
    <div class="subsection">
      <h2 class="text-primary fw900">Background</h2>
      <h3 class="text-primary fw400">GlassXpert &amp; Design is passionate in glass products, we mainly focus on three areas:</h3>
    </div>
    <!--/subsection-->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <%= image_tag 'spree/frontend/tpl/gift@2x.png', class: "mb-4", style: "width: 124px;" %>
              <h2 class="card-title"><a class="text-primary" href="#">Glass Gifts </a></h2>
              <p class="card-text text-lg fw700">especially personalized photo gifts</p>
            </div>
          </div>
          <!--/card-->
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <%= image_tag 'spree/frontend/tpl/print@2x.png', class: "mb-4", style: "width: 124px;" %>
              <h2 class="card-title"><a class="text-primary" href="#">Glass Photo Prints</a></h2>
            </div>
          </div>
          <!--/card-->
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-4 col-md-6">
        <div class="subsection">
          <div class="card" style="max-width: 23rem;">
            <div class="card-body">
              <%= image_tag 'spree/frontend/tpl/interior@2x.png', class: "mb-4", style: "width: 124px;" %>
              <h2 class="card-title"><a class="text-primary" href="#">Interior Decorative Glass</a></h2>
              <p class="card-text text-lg fw700">laminated and decorative glass and mirror for interior design</p>
            </div>
          </div>
          <!--/card-->
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
    <div class="subsection">
      <p class="card-text text-lg fw700">
        <%= render_snippet "/glassxpert-n-design-background" %>
      </p>      
    </div>
  </div>
  <!--/container-->
</section>
<!--/section-->
<section class="section bg-blue-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="subsection">
          <%= image_tag 'spree/frontend/media/content-img-1.jpg', class: "img-full-widt", alt: "" %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-6">
        <div class="subsection">
          <h2 class="text-primary">Glass Gifts </h2>
          <%= render_snippet "/home-glass-gifts" %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-lg-6 order-lg-12">
        <div class="subsection">
          <%= image_tag "spree/frontend/media/content-img-2.jpg", class: "img-full-width", alt: '' %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-6 order-lg-1">
        <div class="subsection">
          <h2 class="text-primary">Glass Photo Prints</h2>
          <%= render_snippet "/home-glass-photo-prints" %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="subsection">
          <%= image_tag "spree/frontend/media/content-img-3.jpg", class: "img-full-width", alt: '' %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-6">
        <div class="subsection">
          <h2 class="text-primary">Glass for Interior Design</h2>
          <%= render_snippet "/home-glass-for-interior-design" %>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</section>
<!--/section-->
<section class="section bg-primary text-white">
  <div class="container">
    <h2><%= t("spree.contact_us") %></h2>
    <div class="row">
      <div class="col-lg-6">
        <%= render_snippet "/home-contact-us" %>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-lg-6">
        <div class="table-parent-md" style="height: 100%;">
          <div class="vertical-middle">
            <div class="subsection">
              <% @contact_us = Spree::Contact.new if @contact_us.nil? %>
              <%= form_for @contact_us, html: { multipart: true } do |f| %>
                <fieldset>
                  <div class="subsection-sm">
                    <%= f.select(:contact_us_email_id, Spree::ContactUsEmail.all.collect {|c| [ c.name, c.id ] }, {}, {class: "form-control"}) %>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="subsection-sm">
                        <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
                        <%= display_error_message(f.object, 'name') %>
                      </div>
                    </div>
                    <!--/col-->
                    <div class="col-md-6">
                      <div class="subsection-sm">
                        <%= f.email_field :email, class: "form-control", placeholder: "Email", 'aria-describedby': "emailHelp", required: true %>
                        <%= display_error_message(f.object, 'email') %>
                      </div>
                    </div>
                    <!--/col-->
                  </div>
                  <!--/row-->
                  <div class="subsection-sm">
                    <%= f.text_field :subject, class: "form-control", placeholder: "Subject", required: true %>
                    <%= display_error_message(f.object, 'subject') %>
                  </div>
                  <div class="subsection-sm">
                  
                    <%= f.text_area :message, class: "form-control", placeholder: "Message", required: true %>
                    <%= display_error_message(f.object, 'message') %>
                  </div>
    							<div class="subsection-sm">
    								<div class="form-group">
                      <%#= f.label :file, t("spree.contact_form.images.label") %>
                      <%= f.file_field :file, class: "form-control-file" %>
                      <small class="form-text text-muted">
                        <%= t("spree.contact_form.images.placeholder") %>
                      </small>
    								</div>
    							</div>                        
                  <div class="text-right">
                    <%= f.submit t("spree.send_msg"), class: "btn btn-info" %>
                  </div>
                </fieldset>
              <% end %>
            </div>
            <!--/subsection-->
          </div>
        </div>
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</section>
<!--/section-->
<section class="map-section">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5893.742302827572!2d114.21126000448042!3d22.31644198349825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404013624b0b1d1%3A0x9e7842ffbf794210!2zVW5pZnkgQ29tbWVyY2lhbCBJbmR1c3RyaWFsIEJ1aWxkaW5nLCAzMSBUYWkgWWlwIFN0LCDQk9C-0L3QutC-0L3Qsw!5e0!3m2!1suk!2sua!4v1524213217005"
  max-width="100%" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
