<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <head data-hook="inside_head">    
    <%= render partial: 'spree/shared/head' %>   
  </head>
  
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>
  	<!--/ .header-->
    
    <% @page.slug[0] = '' %>
    <% taxon_access = @page.slug %>
    <% interior_decorative_glass_taxon = Spree::Taxon.find_by!(permalink: taxon_access) %>
    
  	<div class="main">
      <section class="section interior-design-calltoaction">
  			<div class="container-fluid">
  				<div class="subsection">
  					<h2 class="text-primary fw900"><%= @page.title %></h2>
            <!-- <h3>Partner of your home design</h3> -->
            <p class="text-lg mb-0">
              <%= raw strip_tags interior_decorative_glass_taxon.description %>
            </p>
          </div>
        </div>
      </section>
  		<section class="section interior-design-hero">
  			<div class="container">
  				<div class="interior-slider-container">
  					<div class="flexslider main-interior-slider" id="jsInteriorSlider">
  						<ul class="slides">
              <% photos = interior_decorative_glass_taxon.children.find_by!(permalink: "#{taxon_access}/photos") %>
              <% children = photos.children %>
              <% children.each do |child| %>
  							<li>
  								<img src="<%= child.icon(:original) %>">
          				<div class="project-description">
          					<h2 class="fw900"><%= child.name %></h2>
          					<p class="h3 fw400 mb-0">
                      <%#= raw child.description %>
                    </p>
          				</div>
          				<!--/project-description-->
  							</li>
              <% end %>  
  						</ul>            
  					</div>
            <div class="flexslider thumbnail-interior-slider" id="jsInteriorCarousel">
              <ul class="slides">
              <% children.each do |child| %>
                <li>
                  <img src="<%= child.icon(:normal) %>">
                </li>
              <% end %>
              </ul>
            </div>
  				</div>
  				<!--/interior-slider-container-->          
  			</div>
  			<!--/container-->
  		</section>
  		<!--/section-->
      <section class="section interior-design-calltoaction">
  			<div class="container-fluid">
  				<div class="subsection">          
            <p class="text-lg mb-4 text-center">
              <%= t("interior_decorative_glass.for_detail_reference") %>
            </p>
            <div class="row">
            <% newsletter = interior_decorative_glass_taxon.children.find_by!(permalink: "#{taxon_access}/newsletter") %>
            <% children = newsletter.children %>
            <% children.each do |child| %>
              <% newsletter_url = strip_tags(child.description) %>
              <div class="col-lg-3 col-md-3 mb-3">
                <%= link_to newsletter_url, target: "_blank" do %>
                  <%= image_tag child.icon(:normal) %>
                <% end %>
                <p class="text-lg mb-4 text-center">
                  <%= link_to newsletter_url, target: "_blank" do %>
                    <%= raw child.name %>
                  <% end %>
                </p>
              </div>
            <% end %>  
            </div>
          
            <p class="text-lg mb-4 text-center">
              <%= t("interior_decorative_glass.for_enquiry") %>
            </p>            
          
            <%= link_to t("spree.contact_us"), "/contact-us", class: "btn btn-info mb-0" %>
  				</div>
  				<!--/subsection-->
  			</div>
  			<!--/container-->
  		</section>
  		<!--/section-->
  	</div>
  	<!--.footer - _footer.pug-->
    <%= render partial: 'spree/shared/footer' %>
  	<!--/.footer-->
  </body>

</html>